.heading {
  display: flex;
  justify-content: center;
}

.heading2 {
  display: flex;
  justify-content: center;
}

.add-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.add-area{
  display: flex;
  justify-content: center;
}

.add-input{
  width: 30vh;
  height: 4vh;
  border: 2px solid black;
}

.add-btn {
  width: 10vh;
  background-color: black;
  color: white;
  border: 2px solid black;
}

.add-btn:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

 .filters {
  display: flex;
  justify-content: center;
  margin: 2vh;
}
.filter-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2vh;
}

.filter-btn {
  border: 0.2rem solid #4d4d4d;
  cursor: pointer;
  padding: 0.8rem 1rem 0.7rem;
  text-transform: capitalize;
  border-color: #d3d3d3;
  border-width: 1px;
}

.filter-btn[aria-pressed="true"] {
  border-color: #4d4d4d;
  text-decoration: underline;
}

.tasks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  list-style: none;
}

.view {
  display: flex;
  justify-content: center;
  align-items: center;
}



.check {
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  left: -2px;
  top: -2px;
  cursor: pointer;
  z-index: 1;
}

.task {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2vh;
  margin-bottom: 1vh;
  font-size: large;
}

.btn-group {
  display: flex;
  justify-content: space-around;
  width: 30vh;
}
.edit-btn{
  border: 2px solid #d3d3d3;
  cursor: pointer;
  padding: 5px;
  width: 12vh;
  text-transform: capitalize;
}

.delete-btn {
  background-color: #ca3c3c;
  border:none;
  color: white;
  cursor: pointer;
  padding: 5px;
  width: 12vh;
  text-transform: capitalize;
}

.editing{
  display: flex;
  flex-direction: row;
  margin: 15px;
}

.edit-form{
  display: flex;
  justify-content: center;

}
.edit-input {
  margin: 5px;
  width: 30vh;
  height: 4vh;
  border: 2px solid black;
}

.save-btn{
  width: 12vh;
  background-color: black;
  color: white;
  border: 2px solid black;
}

.save-btn:hover{
  cursor: pointer;
}

.cancel-btn {
  border: 2px solid #d3d3d3;
  cursor: pointer;
  padding: 5px;
  width: 12vh;
  text-transform: capitalize;
}

.cancel-btn:hover{
  cursor: pointer;
}

